.iki {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .iki-center {
    width: 98%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    .iki-left,
    .iki-right {
      width: inherit;
      height: 265px;
      img {
        width: 655px;
        height: 265px;
        object-fit: cover;
        border-radius: 17px;
      }
    }
  }
}
