.market-offers {
  display: flex;
  width: 100%;
  height: 110px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  .market-offers-center {
    width: 98%;
    height: inherit;
    border-radius: 15px;
    background: url(/Images/Market-Offers/pattern.svg) left center no-repeat;
    background-color: #f0f0f1;
    a {
      display: flex;
      width: inherit;
      height: inherit;
      background: linear-gradient(267.6deg, #029a4910 0, #f2f2f200 100%);
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      flex-direction: row;
      overflow: hidden;
      padding-right: 14px;
      padding-left: 14px;
      .right {
        display: flex;
        width: 510px;
        height: 70px;
        align-items: center;
        gap: 20px;
        padding-right: 20px;
        .right-3 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 105px;
          height: 28px;
          background-color: #029a49;
          border-radius: 20px;
          span {
            text-align: center;
            color: white;
            font-family: var(--fontIranYekan);
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
      .left {
        display: flex;
        align-items: center;
        width: 640px;
        height: 75px;
        .left-1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 50px;
          border-radius: 30px;
          gap: 6px;
          margin-right: 15px;
          background-color: white;
          span {
            color: #029a49;
            font-family: var(--fontIranYekan);
            font-size: 12px;
            font-weight: bold;
          }
          img {
            width: 18px;
            height: 18px;
          }
        }
        .left-2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 490px;
          height: 75px;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 74px;
            height: 74px;
            border-radius: 50%;
            background-color: white;
            overflow: hidden;
            img {
              width: 58px;
              height: 58px;
            }
          }
          .percentage {
            display: flex;
            width: 34px;
            height: 20px;
            justify-content: center;
            align-items: center;
            background-color: #d32f2f;
            border-radius: 112px;
            position: absolute;
            margin-top: 50px;
            margin-left: 50px;
            span {
              text-align: center;
              color: white;
              font-family: var(--fontIranYekan);
              font-size: 12px;
              
            }
          }
        }
      }
    }
  }
}
