.taste-based {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 410px;
  .taste-based-center {
    display: flex;
    justify-content: center;
    width: 98%;
    height: inherit;
    border: 1px solid #e0e0e2;
    border-radius: 15px;
    margin-top: 16px;
    .taste-based-products {
      width: 25%;
      height: inherit;
      border-left: 1px solid #e0e0e2;
      .taste-based-products-top {
        width: 100%;
        padding-right: 20px;
        margin-bottom: 10px;
        font-family: var(--fontIranYekan);
        h3 {
          font-size: 16px;
          color: #23254e;
          margin-top: 12px;
          margin-bottom: 10px;
        }
        p {
          font-size: 12px;
          color: #81858b;
          font-weight: 400;
        }
      }
      .taste-based-products-center {
        width: 100%;
        padding: 10px;
        .taste-based-products-center-top {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          .taste-based-products-center-top-first {
            width: 50%;
            text-align: center;
            img {
              width: 130px;
              height: 130px;
            }
          }
          .taste-based-products-center-top-second {
            width: 50%;
            text-align: center;
            img {
              width: 130px;
              height: 130px;
            }
          }
        }
        .taste-based-products-center-bottom {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          .taste-based-products-center-bottom-first {
            width: 50%;
            text-align: center;
            img {
              width: 130px;
              height: 130px;
            }
          }
          .taste-based-products-center-bottom-second {
            width: 50%;
            text-align: center;
            img {
              width: 130px;
              height: 130px;
            }
          }
        }
      }
      .taste-based-products-bottom {
        width: 100%;
        a {
          text-decoration: none;
          font-family: var(--fontIranYekan);
          font-size: 12px;
          font-weight: bold;
          color: #19bfd3;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}
