.varmi {
  display: flex;
  width: 100%;
  height: 165px;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  .varmi-center {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      display: flex;
      justify-content: center;
      width: inherit;
      height: inherit;
      img {
        width: 98%;
        height: 165px;
        border-radius: 15px;
      }
    }
  }
}
